<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bootstrap.core" type="BootstrapConfig.BootstrapMasterConfigurationSection, BootstrapConfig.Core"/>
  </configSections>
  <bootstrap.core>    
    <directorySearcher type ="BoostrapConfig.DirectorySearcher, BootstrapConfig.Core"
      path="../../App_Config"
      searchPattern="*.config"
      recursive="true"/>
    <pathResolver type="BootstrapConfig.ExecPathResolver, BootstrapConfig.Core"/>
  </bootstrap.core>
</configuration>