<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bootstrap.master" type="BootstrapConfig.BootstrapMagerConfigurationSection, BootstrapConfig.Core"/>
  </configSections>
  <bootstrap.master>
    <data path="../../app_config"          
          search-pattern="*.config"
          recursive="true"/>
    <pathLoader type ="BoostrapConfig.ExePathLoader, BootstrapConfig.Core"/>
  </bootstrap.master>
</configuration>