<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="endpoint1"
                address="http://localhost/ServiceModelSamples/service.svc"
                binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IHello"
                contract="IHello"/>      
    </client>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IHello">
          <readerQuotas maxDepth="32"/>
          <reliableSession ordered="true"
                           enabled="false"/>          
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>