<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bootstrapConfiguration" type="BootstrapConfig.BootstrapConfigurationSection, BootstrapConfig.Core"/>    
  </configSections>
  <bootstrapConfiguration key="12345">    
  </bootstrapConfiguration>
</configuration>