<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test_ApplicationConfigurationProvider_Reads_ConnectionStrings" 
         connectionString="{E848B94E-F9C0-49B9-8A6F-7B858DC61615}"/>
  </connectionStrings>
  <system.serviceModel>
    
  </system.serviceModel>
</configuration>